body {
  margin-left: 150px;
  margin-right: 150px;
  background-color: black;
  color: white;
  font-family: "Lora", serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px 20px;
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  z-index: 10; /* Ensure the navbar is above other content */
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
  padding: 20px 20px;
  font-size: 20px;
}
nav ul {
  margin-right: 15%;
}

nav ul li {
  margin-right: 20px;
  cursor: pointer;
  list-style: none;
  display: inline-block;
  list-style: none;
}
nav ul li:hover {
  color: blue;
}
div:first-child {
  flex: 1;
}
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.left-div {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading {
  color: grey;
  text-decoration: underline;
  font-size: 20px;
  margin-left: 50px;
  font-weight: bold;
}
.description {
  color: white;
  font-size: 30px;
  margin-left: 50px;
  margin-top: -40px;
  margin-bottom: 80px;
  background: linear-gradient(white, white);
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: textcolor1 3s linear infinite alternate;
  background-size: 0%;
}
@keyframes textcolor1 {
  0% {
    background-size: 0%;
  }
  40% {
    background-size: 100%;
  }
  100% {
    background-size: 100%;
  }
}
.left-div h1 {
  font-size: 70px;
  margin-left: 50px;
}
.right-div {
  flex: 1;
  padding: 20px;
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
.right-div img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  border: 2px dotted;
}
.contact-info {
  display: flex;
  align-items: center;
  margin-left: 50px;
  font-size: 20px;
}

.contact-info i {
  margin-right: 10px; /* Add some space between the icon and text */
  color: gray; /* Set the color of the icon */
  margin-bottom: 10px;
}

.contact-info p {
  margin: 0; /* Remove default margin from the paragraph */
  color: gray; /* Set the color of the text */
  font-family: Arial, sans-serif; /* Set the font family */
  font-size: 16px; /* Set the font size */
  margin-bottom: 10px;
}
.contact-info p a {
  color: gray;
}
.homeabout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  width: 100%;
}
.homeabout-left-div {
  width: 50%;
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.homeabout-right-div {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  flex: 1;
  padding: 20px;
}
.progress {
  width: 70%;
  background-color: gray;
  border-radius: 50px;
}

.progress-bar {
  height: 30px;
  background-color: white;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 50px;
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Experience {
  height: 100vh;
  margin-top: 10%;
}
.gradient-border {
  position: relative;
  height: 2px;
}
.gradient-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px; /* Border height */
  background: linear-gradient(to right, #e66465, #9198e5); /* Gradient color */
  border-radius: 50px;
}
.Experience-left-div {
  margin-top: 20px;
  width: 50%;
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  background-color: #ffffff1a;
}
.Experience-right-div {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  flex: 1;
  padding: 20px;
}
.Education {
  display: flex;
  width: 100%;
  height: 50vh;
}

.Education-left-div {
  margin-top: 20px;
  width: 50%;
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  background-color: #ffffff1a;
  margin-right: 10px; /* Add margin to the right side */
}
.Education-right-div {
  margin-top: 20px;
  width: 50%;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding: 20px;
  width: 50%;
  padding: 20px;
  margin-left: 10px; /* Add margin to the left side */
  background-color: #ffffff1a;
  line-height: 2.5;
}
.Contactme {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 35vh;
}

.Contactme div {
  flex: 1;
  padding: 20px;
  margin: 0 10px; /* Add margin for spacing */
  border-radius: 5px;
}

.Contactme div i {
  font-size: 30px;
}

.Contactme div h2 {
  margin-top: 10px;
  font-size: 20px;
}

.Contactme div p {
  margin-top: 5px;
  font-size: 16px;
}
.query {
  display: flex;
  width: 100%;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.query-left-div,
.query-right-div {
  width: 50%;
  padding: 20px;
  text-align: center;
}

.query-left-div {
  border-right: 1px solid #ddd;
}

.query-left-div p {
  margin: 0;
  font-size: 20px;
}

.query-left-div span {
  font-weight: bold;
}

.query-right-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.query-right-div a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3c4753;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}

.query-right-div a:hover {
  background-color: #0056b3;
}
.links {
  display: flex;
  width: 100%;
  margin-top: 50px;

  font-size: 20px;
}

.links-left-div,
.links-right-div {
  width: 50%;
  padding: 20px;
  text-align: right;
}

.links-right-div {
  display: flex;
}

.links-right-div div {
  margin: 0 10px;
}

.links-right-div a {
  display: inline-block;
  padding: 10px;
  color: rgb(147, 131, 131);
  text-decoration: none;
}

.links-right-div a:hover {
  color: white;
}

@media only screen and (max-width: 1235px) {
  nav {
    left: 0;
    width: 100%;
  }
  .nav-head {
    text-align: center;
  }
  nav ul {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    text-align: center;
  }
  .homeabout {
    display: flex;
    flex-direction: column;
  }
  .homeabout-left-div  {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
  }
  .homeabout-right-div h3,.homeabout-left-div h3{
font-size: 35px;
   }
  .homeabout-right-div{
    width: 100%;
    font-size: 30px;
   }
   .Experience{
    margin-top: 0;
    height: fit-content;
    }
    .Experience-left-div{
        width: 95%;
        height: fit-content;
     }
     .Education{
        display: flex;
        flex-direction: column;
      }
      .Education-left-div,.Education-right-div{
width: 100%;
       }
       .Contactme{
        display: flex;
        flex-direction: column;
        }
}
