.text-result {
  color: #009970;
}

.fancy-btn {
  position: relative;
  display: inline-block;
  padding: 14px 32px;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  background: linear-gradient(135deg, #009970, palegoldenrod);
  border: none;
  border-radius: 50px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  text-decoration: none;
}

.fancy-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-45deg);
  transition: left 0.5s ease;
  z-index: 2;
}

.fancy-btn:hover::before {
  left: 100%;
}

.projects-section {
  margin-top: -10%;
}

.project-wrapper {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, white 10%, white 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, white 10%, white 90%, transparent);
}

.project-card {
  width: 350px;
  height: 250px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: absolute;
  animation: scrollLeft 20s linear infinite;
  left: 100%;
  padding: 10px;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@keyframes scrollLeft {
  0% {
    left: 100%;
  }

  100% {
    left: -300px;
  }
}

.project-card:nth-child(1) {
  animation-delay: 0s;
}

.project-card:nth-child(2) {
  animation-delay: 5s;
}

.project-card:nth-child(3) {
  animation-delay: 10s;
}

.project-card:nth-child(4) {
  animation-delay: 15s;
}

.project-work {
  position: relative;
  width: 100%;
  height: 110px;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, white 10%, white 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, white 10%, white 90%, transparent);
}

.project-work-card {
  width: 300px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  animation: scrollWorkLeft 40s linear infinite;
  left: 100%;
  padding: 10px;
  top: 0;
  box-sizing: border-box;
}
.glass-background {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid palegoldenrod; 
  border-radius: 50px; 
  overflow: hidden;
}


.project-work-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.project-work-card:nth-child(1) {
  animation-delay: 0s;
}

.project-work-card:nth-child(2) {
  animation-delay: 6.6s;
}

.project-work-card:nth-child(3) {
  animation-delay: 13.2s;
}

.project-work-card:nth-child(4) {
  animation-delay: 19.8s;
}

.project-work-card:nth-child(5) {
  animation-delay: 26.4s;
}

.project-work-card:nth-child(6) {
  animation-delay: 33s;
}


@keyframes scrollWorkLeft {
  0% {
    left: 100%;
  }

  100% {
    left: -320px;
  }
}

form input {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  backdrop-filter: blur(4px);
}

form select {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  border: 1px solid #ccc;
}

form select option:first-child {
  color: gray;
}

form select option {
  color: black;
}

form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.fancy-btn-submit {
  position: relative;
  display: inline-block;
  padding: 5px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  background: linear-gradient(135deg, #009970, palegoldenrod);
  border: none;
  border-radius: 50px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  text-decoration: none;
}

.fancy-btn-submit::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-45deg);
  transition: left 0.5s ease;
  z-index: 2;
}

.fancy-btn-submit:hover::before {
  left: 100%;
}
